.container {
    background: #1f1f1f;
}
.wallet-adapter-button-trigger:not([disabled]) {
    background-color: #9945ff;
    transition: 200ms;
}

.wallet-adapter-button-trigger:not([disabled]):hover {
    background-color: #a358ff;
}
